* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  padding-top: 0;
  background-color: #f3f4f6;
  width: 100vw;
  height: 100vh;
  background-color: #262a2d;
}

.grid {
  display: flex;
  flex-wrap: wrap; /* 16 boxes * 40px */
  width: 80rem;
  height: 80rem; /* 16 boxes * 40px */
  margin-top: 0.5rem;
  outline: 1px solid #262a2d;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 40rem;
  height: 40rem;
  background-color: #ffffff;
}

.display-container {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;
}

.display-boxes {
  width: 4rem;
  height: 4rem;
}

.new-box {
  display: inline-block;
  background-color: #ffffff;
  height: 10rem;
  width: 10rem;
}

h1 {
  color: #364fc7;
  font-size: 7rem;
}

button {
  padding: 0.5rem 1.5rem;
  font-style: italic;
  font-size: 4rem;
  color: #364fc7;
  background-color: #bac8ff;
  border: none;
  border-radius: 1rem;
  height: 10rem;
  width: 20rem;
}
